<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MSL</title>
  <!-- TailWind CSS -->
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Our CSS -->
  <style type="text/css">
    .input {
      width: 44%;
      height: max-content;
      display: inline-block;
      margin-left: 10px;
      overflow: visible;
    }

    .output {
      margin-right: 46px;
      width: 44%;
      height: max-content;
      float: right;
    }
  </style>
</head>

<body>
  <header class="text-gray-700 body-font">
    <div class="container mx-auto flex flex-wrap p-3 flex-col md:flex-row items-center">
      <a href="{{ url_for('home') }}" class="flex title-font font-medium items-center text-gray-900 mb-2 md:mb-0">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
          stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-blue-500 rounded-full"
          viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg> -->
        <img src="{{ url_for('static', filename='pupLogo.png') }}" fill="none" stroke="currentColor"
                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-20 h-20"
                    viewBox="0 0 20 20">
        <span class="ml-3 text-lm">Crawling & Extracting English-Punjabi Parallel Data
        </span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a class="mr-5 hover:text-gray-900" href=''>Crawler</a>
        <a class="mr-5 hover:text-gray-900" href=''>Extractor</a>
        <a class="mr-5 hover:text-gray-900" href=''>All-In-one</a>
        <a class="mr-5 hover:text-gray-900" href='https://www.youtube.com/watch?v=FGAhghQNphs&t=3s'>Demo</a>
      </nav>
    </div>
  </header>
  {% block content %} {% endblock content %}
  <footer class="text-gray-700 body-font items-center">
    <div class="container px-5 py-0 mx-auto flex items-center sm:flex-row flex-col">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
          stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-blue-500 rounded-full"
          viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-lg">Punjabi University, Patiala</span>
      </a>
      <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">Powered by
        Manpreet Singh Lehal (Department of Computer Science Lyallpur Khalsa College, Jalandhar) —
        <a href="https://github.com/shabad22" class="text-gray-600 ml-1" rel="noopener noreferrer"
          target="_blank">@shabad22</a>
      </p>
      <!-- <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"> -->
      <!-- <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4 ml-3 text-xl"> Punjabi University, Patiala </p>
        </span> -->
    </div>
  </footer>
</body>

</html>